<nz-card class="application-form" nzTitle="Application Form" [nzExtra]="extraTemplate">
  <form nz-form [formGroup]="applicationForm" (ngSubmit)="saveRequest()">
  <nz-spin [nzSpinning]="isRequestInProcess" nzTip="Please wait...">

    <ng-template #extraTemplate>
      <div *ngIf="!requestId">
        <button nz-button type="submit" nzType="primary" [disabled]="applicationForm.invalid" class="m-r-5">Submit</button>
        <button nz-button type="reset" nzType="default" (click)="initForm()">Cancel</button>
      </div>

      <div *ngIf="requestId">
        <button nz-button type="button" nzType="primary" class="m-r-5" (click)="approveRequest()">Approve</button>
        <button nz-button type="button" nzType="danger" (click)="rejectRequest()">Reject</button>
      </div>
    </ng-template>


      <section class="row">
        <!--    profile picture-->
        <div class="col-md-2 text-center">


          <div class="pic-box profile-pic">


            <nz-upload class="avatar-uploader"
                       [nzAction]="attachementUrl"
                       [nzHeaders]="attachementHeader"
                       [nzShowUploadList]="false"
                       [nzBeforeUpload]="beforeUpload"
                       (nzChange)="handleProfilePicChange($event)">

              <ng-container *ngIf="!avatarUrl">

                <button type="button" nz-button class="upload-btn">
                  <div>

                    <img src="../../assets/images/avatars/user_placeholder.png" height="60"
                         class="border-radius-round m-b-10">

                    <div><strong>drag & drop file</strong>
                      <br>or <br>
                      <strong>click choose</strong></div>
                    <small class="text-muted">(JPG only)</small>

                  </div>
                </button>

              </ng-container>

              <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
            </nz-upload>

            <div class="ant-upload-text ant-uploading-text" *ngIf="loadingProfilePic">Uploading Profile Pic...</div>

          </div>
          <p>Upload Photo<br/>(अपलोड तस्वीर)<span class="text-danger">*</span></p>
        </div>

        <!--  form controls-->
        <div class="col-md-7">
          <!--      Row 1-->
          <div class="row">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label
                >First Name (पहला नाम)<span class="text-danger"
                >*</span
                ></nz-form-label
                >
                <nz-form-control nzErrorTip="Please input your First Name!">
                  <input
                    nz-input
                    formControlName="firstName"
                    placeholder="eg: Pradeep"
                    maxlength="20"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label
                >Last Name (उपनाम)<span class="text-danger"
                >*</span
                ></nz-form-label
                >
                <nz-form-control nzErrorTip="Please enter your Last Name!">
                  <input
                    nz-input
                    formControlName="lastName"
                    placeholder="eg : Sharma"
                    maxlength="30"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-3">
              <nz-form-item class="relative">
                <nz-form-label nzFor="taskType"
                >State (राज्य)<span class="text-danger">*</span></nz-form-label
                >
                <nz-form-control nzErrorTip="Please enter your State!">
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input
                      placeholder="Search"
                      formControlName="state"
                      class="p-r-30"
                      nz-input
                      (ngModelChange)="selectStateTypeahead($event)"
                      nzSize="small"
                      [nzAutocomplete]="autoState"
                    />
                  </nz-input-group>

                  <nz-autocomplete #autoState>
                    <nz-auto-option
                      *ngFor="let option of stateDataSource"
                      [nzLabel]="option && option.name"
                      [nzValue]="option">
                      <span>{{ option && option.name }}</span>
                    </nz-auto-option>
                  </nz-autocomplete>
                </nz-form-control>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search" *ngIf="!isSearchingState"></i>
                  <i class="fas fa-spin fa-spinner" *ngIf="isSearchingState"></i>
                </ng-template>
              </nz-form-item>
            </div>

            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label
                >City (शहर)<span class="text-danger">*</span></nz-form-label
                >
                <nz-form-control nzErrorTip="Please enter your City!">
                  <nz-input-group [nzSuffix]="suffixIconSearchCity">
                    <input
                      [disabled]="!selectedState?.id"
                      placeholder="Search"
                      formControlName="city"
                      nz-input
                      (ngModelChange)="selectCityTypeahead($event)"
                      nzSize="small"
                      class="p-r-30"
                      [nzAutocomplete]="autoCity"
                    />
                  </nz-input-group>

                  <nz-autocomplete #autoCity>
                    <nz-auto-option
                      *ngFor="let option of cityDataSource"
                      [nzLabel]="option && option.name"
                      [nzValue]="option">
                      <span>{{ option && option.name }}</span>
                    </nz-auto-option>
                  </nz-autocomplete>
                </nz-form-control>
                <ng-template #suffixIconSearchCity>
                  <i nz-icon nzType="search" *ngIf="!isSearchingCity"></i>
                  <i class="fas fa-spin fa-spinner" *ngIf="isSearchingCity"></i>
                </ng-template>
              </nz-form-item>
            </div>
          </div>
          <!--      Row 2-->

          <div class="row">
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label
                >Aadhaar (आधार)<span class="text-danger">*</span></nz-form-label
                >
                <nz-form-control nzErrorTip="Please enter valid Aadhaar Number!">
                  <input
                    nz-input
                    numeric numericType="number"
                    formControlName="aadhaarNo"
                    placeholder="eg: 0000 0000 0000"
                    maxlength="12"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label>Mobile (मोबाइल नंबर)<span class="text-danger">*</span></nz-form-label>
                <nz-form-control nzErrorTip="Please enter valid Mobile!">
                  <input
                    nz-input
                    numeric numericType="number"
                    formControlName="mobileNo"
                    placeholder="eg: 99999 99999"
                    maxlength="10"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label
                >Vehicle Number (गाडी नंबर)<span class="text-danger"
                >*</span
                ></nz-form-label
                >
                <nz-form-control nzErrorTip="Please enter your Vehicle Number!">
                  <input
                    nz-input
                    formControlName="vehicleNo"
                    placeholder="eg: MP 01 AB 0000"
                    maxlength="15"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>


            <div class="col-md-12">
              <div class="row">

                <div class="col-md-4">
                  <nz-form-item>
                    <nz-form-label
                    >Pass Date (पास की तारीख)<span class="text-danger">*</span
                    ></nz-form-label>

                    <nz-form-control nzErrorTip="Please enter Pass Date!">
                      <nz-date-picker [nzSize]="'default'" formControlName="passDate" placeholder="eg : MM/DD/YYYY"
                                      [nzFormat]="dateFormat"></nz-date-picker>
                    </nz-form-control>

                  </nz-form-item>


                </div>


                <div class="col-md-8">
                  <nz-form-item>
                    <nz-form-label>Full Address (पूरा पता)<span class="text-danger">*</span></nz-form-label>
                    <nz-form-control nzErrorTip="Please enter your Full Address!">
                  <textarea
                    nz-input
                    formControlName="address"
                    placeholder="eg: Flat, Street, Village, etc..."
                    maxlength="500"
                    rows="3"
                  ></textarea>
                    </nz-form-control>
                  </nz-form-item>
                </div>

              </div>
            </div>

          </div>
        </div>
        <!--    Aadhaar card upload -->
        <div class="col-md-3 text-center">


          <div class="pic-box aadhar-pic">

            <nz-upload
              [nzAction]="attachementUrl"
              [nzHeaders]="attachementHeader"
              [nzShowUploadList]="false"
              [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleAadhaarChange($event)">

              <ng-container *ngIf="!aadhaarUrl">

                <button type="button" nz-button class="upload-btn">
                  <div>

                    <img src="../../assets/images/avatars/aadhaar_placeholder.jpg" height="60"
                         class="border-radius-round m-b-10">

                    <div><strong>drag & drop file</strong>
                      <br>or <br>
                      <strong>click choose</strong></div>
                    <small class="text-muted">(JPG only)</small>

                  </div>
                </button>

              </ng-container>

              <img *ngIf="aadhaarUrl" [src]="aadhaarUrl" class="avatar">
            </nz-upload>

            <div class="ant-upload-text ant-uploading-text" *ngIf="loadingAadhaarPic">Uploading Aadhaar Pic...</div>


          </div>

          <p>Upload Aadhaar (अपलोड आधार)<span class="text-danger">*</span></p>

        </div>

      </section>


      <section class="row m-t-25">

        <div class="col-md-12">
          <p class="text-black">Add Person who is Travelling with You (अपने साथ यात्रा करने वाले व्यक्ति को जोड़ें)</p>

          <!-- Traveller Info -->
          <div class="row traveller-row m-l-0 m-r-0" formArrayName="otherPersonDetails">

            <div class="p-5" *ngIf="showAddPersonBtn"><a href="javascript:void(0)" (click)="addOtherPersonDetails()" *ngIf="applicationForm.get('otherPersonDetails')['controls']">+ Add Travellers Details (यात्री विवरण जोड़ें)</a></div>

            <ng-container *ngFor="let control of applicationForm.get('otherPersonDetails')['controls']; let i = index" [formGroup]="control">
              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label>Full Name (पूरा नाम)<span class="text-danger">*</span></nz-form-label>
                  <nz-form-control nzErrorTip="Please enter Full Name!">
                    <input
                      nz-input
                      formControlName="fullName"
                      placeholder="eg: Pradeep Sharma"
                      maxlength="50"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-3">
                <nz-form-item>
                  <nz-form-label>Aadhaar (आधार)<span class="text-danger">*</span></nz-form-label>
                  <nz-form-control nzErrorTip="Please enter valid Aadhaar number!">
                    <input
                      nz-input
                      numeric numericType="number"
                      formControlName="aadhaarNo"
                      maxlength="12"
                      placeholder="eg: 0000 0000 0000"/>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="col-md-5">
                <button nz-button type="button" nzType="default" (click)="addOtherPersonDetails()">Add</button>
                <button class="m-l-5" nz-button type="button" nzType="default" (click)="removeOtherPersonDetails(i)">Remove</button>
              </div>

            </ng-container>
          </div>


        </div>

      </section>


      <section class="row m-t-25">
        <div class="col-md-4">
          <nz-form-item class="relative">
            <nz-form-label>Reason Code (कारण कोड)<span class="text-danger">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please select Reason Code!">
              <nz-input-group [nzSuffix]="suffixIconSearchReasonCode">
                <input
                  placeholder="Search"
                  formControlName="reason"
                  class="p-r-30"
                  nz-input
                  (ngModelChange)="selectReasonTypeahead($event)"
                  nzSize="small"
                  [nzAutocomplete]="autoReason"
                />
              </nz-input-group>

              <nz-autocomplete #autoReason>
                <nz-auto-option
                  *ngFor="let option of reasonDataSource"
                  [nzLabel]="option && option.name"
                  [nzValue]="option">
                  <span>{{ option && option.name }}</span>

                </nz-auto-option>
              </nz-autocomplete>
            </nz-form-control>
            <ng-template #suffixIconSearchReasonCode>
              <i nz-icon nzType="search" *ngIf="!isSearchingReason"></i>
              <i class="fas fa-spin fa-spinner" *ngIf="isSearchingReason"></i>
            </ng-template>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label
            >Reason Details (कारण विवरण)<span class="text-danger"
            >*</span
            ></nz-form-label
            >
            <nz-form-control nzErrorTip="Please enter Reason Details!">
              <textarea
                nz-input
                formControlName="reasonDetails"
                maxlength="500"
                rows="3"
                placeholder="eg: to get emergency medical treatment"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label
            >Destination Area PIN (गंतव्य क्षेत्र का PIN)<span
              class="text-danger"
            >*</span
            ></nz-form-label
            >
            <nz-form-control nzErrorTip="Please enter valid PIN code!">
              <input
                nz-input
                numeric numericType="number"
                formControlName="destinationPinCode"
                placeholder="eg: 000000"
                maxlength="6"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Destination Area Address (गंतव्य क्षेत्र का पता)<span
              class="text-danger">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please enter Destination Area Address!">
              <textarea
                nz-input
                formControlName="destinationAddress"
                placeholder="eg: Flat, Street, Village, etc..."
                maxlength="500"
                rows="3"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-md-4 font-size-13">
          <nz-form-label class="m-b-5">Note :</nz-form-label>
          <p>
            Please enter the complete details about your destination.<br/>
            Any <strong>false</strong> information will lead to cancellation of
            Pass.
            Please carry your Aadhaar card while travelling.
          </p>

          <p>
            कृपया अपने गंतव्य के बारे में पूरा विवरण दर्ज करें।<br/>
            कोई भी <strong>गलत</strong> जानकारी पास को रद्द कर देगी।
            कृपया यात्रा करते समय अपना आधार कार्ड साथ रखें।
          </p>
        </div>
      </section>

      <section class="row m-t-15">
        <nz-form-item>
          <nz-form-label class="m-b-5">
            Upload Supporting Documents (Please Attach Supporting documents like Medical History, Appointment etc)
            <br>(सहायक दस्तावेज अपलोड करें (कृपया मेडिकल इतिहास, नियुक्ति आदि जैसे सहायक दस्तावेजों को संलग्न करें))
          </nz-form-label>

          <nz-form-control>
            <nz-upload class="upload-list-inline" [nzBeforeUpload]="beforeUploadDocs" (nzChange)="handleChange($event)" [nzRemove]="handleRemove"
                       [nzAction]="attachementUrl" [nzHeaders]="attachementHeader" nzListType="picture"
                       [(nzFileList)]="uploadedImages">
              <button type="button" nz-button
                      style="background: #f9f9f9!important;width: 100%;height: 120px;border-radius: 0px;border: 2px dashed #ddd;">
                <div>

                  <img src="../../assets/images/icons/cloud_upload.svg" height="33" class="m-b-10">

                  <div><strong>drag & drop file</strong> or <strong>click choose</strong></div>
                  <small class="text-muted">(JPG, PNG & pdf format)</small>

                </div>
              </button>
            </nz-upload>
          </nz-form-control>

        </nz-form-item>

      </section>

      <section class="row m-t-25">

        <div *ngIf="!requestId">
          <button nz-button type="submit" nzType="primary" class="m-r-5" [disabled]="applicationForm.invalid">Submit
          </button>
          <button nz-button type="reset" nzType="default" (click)="initForm()">Cancel</button>
        </div>

        <div *ngIf="requestId">
          <button nz-button type="button" nzType="primary" class="m-r-5" (click)="approveRequest()">Approve</button>
          <button nz-button type="button" nzType="danger" (click)="rejectRequest()">Reject</button>
        </div>

      </section>

  </nz-spin>

  </form>

</nz-card>
