.pic-box {
  border : 1px solid #6E829C;
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 10px;
}

.profile-pic {
  min-height: 180px;
  min-width: 150px;
  width: 100%;
  max-width: 150px;
  background: url("../../../assets/images/avatars/user_placeholder.png") no-repeat center center;
  background-size: cover;
}


.aadhar-pic {
  min-height: 150px;
  min-width: 160px;
  max-width: 260px;
  width: 100%;
  background: url("../../../assets/images/avatars/aadhar_placeholder.jpg") no-repeat center center;
  background-size: contain;
}

.ant-input {
  padding: 0.25rem 0.5rem !important;
}

.ant-form-item-label {
  text-align: left;
}

.traveller-row {
  padding: 5px 3px;
  background: #fafafa;
  border-radius: 4px;
  margin-bottom: 2px;

  .ant-form-item {
    margin-bottom: 5px;
  }

  button {
    margin-top: 23px;
    padding: 0.4rem 0.5rem !important;
  }

}
