.form-box {
  border:1px solid #dedfe2;
  border-radius: 4px;
  margin-right: 30px;
}


@media only screen and (max-width: 767px) {
  .form-box {
    margin-right: 0px;
  }
}

.ant-input {
  padding: 0.25rem 0.5rem !important;
}

.ant-form-item-label {
  text-align: left;
}
