.ant-form-item-label{
  line-height: 14px;
}

.login-wall {
  background-size: contain;
}
.or-line{
  div{
    background: #D9D9D9;
    height: 20px;
    border-top: 11px solid #fff;
    border-bottom: 8px solid #fff;
    border-left: 25px solid #fff;
  }
  span{
    color: #808080;
    position: absolute;
    left: 0px;
    padding-right:5px;
  }
}
.login-form-button{
  border-radius: 4px!important;
  padding: 11px!important;
}
.list-unstyled{
  .media{
    margin-bottom: 30px;
    img{
      height: 30px;
      width: 40px;
    }
    .media-body {
      font-size: 14px;
      color: #000000;
    }
    h5{
      font-size: 17px;
      font-weight: 500;
      color: #2680EB;
      line-height: 17px;
    }
  }
}
