<div class="container-fluid h-100" style="border-bottom: #024880 5px solid;">
  <div class="d-flex h-100 flex-column">

    <div class="row">
      <div class="col-md-4 p-t-40 p-h-90 bg-white logo-col">
        <img src="assets/images/logo/logo.svg" alt="Assign.Work" height="40"/>
      </div>
      <div class="col-md-8 p-t-30 p-h-40 bg-light text-right menu-header">
        <div>
          <a href="">Supports</a>
        </div>
      </div>
    </div>


    <div class="row" style="height:calc(100vh - 90px);">
      <div class="col-md-4 p-t-30 bg-white relative">
        <nz-card class="p-h-60" nzBordered="false">

          <p class="m-b-0">Welcome to</p>
          <h2 class="m-b-15 font-weight-bold">Covid-19 Helpline</h2>

          <h2 class="m-b-25 font-weight-normal">Login</h2>

          <form
            *ngIf="!isLoginSuccess"
            nz-form
            [formGroup]="loginForm"
            class="login-form"
            (ngSubmit)="submitForm()">

            <nz-form-item>
              <nz-form-label class="m-b-5" nzRequired nzFor="emailId">Mobile Number (मोबाइल नंबर)<span class="text-danger">*</span>
              <br>(Preferable WhatsApp number)</nz-form-label>

              <nz-form-control nzValidatingTip="Please enter Mobile number!">
                <nz-input-group [nzPrefix]="prefixUser">
                  <input
                    type="text"
                    nz-input
                    nzSize="small"
                    maxlength="10"
                    formControlName="mobileNumber"
                    required="true"
                    placeholder="Mobile"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>


            <nz-form-item>
              <nz-form-control>
                <div>

                  <button
                    nz-button
                    [nzBlock]="true"
                    [disabled]="loginForm.invalid"
                    [nzLoading]="loginInProcess"
                    class="login-form-button"
                    [nzType]="'primary'">
                    GET OTP
                  </button>
                </div>

              </nz-form-control>
            </nz-form-item>
          </form>

        <!--otp-request form-->
          <form
            *ngIf="isLoginSuccess"
            nz-form
            [formGroup]="otpForm"
            class="login-form"
            (ngSubmit)="submitOTP()">

            <nz-form-item>
              <nz-form-label nzRequired nzFor="otp">OTP<span class="text-danger">*</span></nz-form-label>
              <nz-form-control nzValidatingTip="Please enter OTP!">
                <nz-input-group [nzPrefix]="prefixUser">
                  <input
                    (keyup)="checkField()"
                    type="text"
                    nz-input
                    nzSize="small"
                    maxlength="4"
                    formControlName="code"
                    required="true"
                    placeholder="OTP"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>


            <nz-form-item>
              <a class="float-right font-size-12 m-t-5 text-primary" *ngIf="resendInProcessWaitTime>0" href="javascript:void(0);">Resend in <b>{{resendInProcessWaitTime}}</b> seconds</a>
              <a class="float-right font-size-12 m-t-5 text-primary" *ngIf="!resendInProcess && resendInProcessWaitTime===0" (click)="resendOtp()" href="javascript:void(0);">Resend OTP</a>
              <a class="float-right font-size-12 m-t-5 text-primary" *ngIf="resendInProcess" href="javascript:void(0);">Resending...</a>
            </nz-form-item>


            <nz-form-item>
              <nz-form-control>
                <div>

                  <button
                    nz-button
                    [nzBlock]="true"
                    [disabled]="otpForm.invalid"
                    [nzLoading]="verificationInProcess"
                    class="login-form-button"
                    [nzType]="'primary'">
                    SUBMIT
                  </button>
                </div>

              </nz-form-control>
            </nz-form-item>
          </form>


<!--          <div class="m-t-20 m-b-20 relative or-line">-->
<!--            <span>or</span><div></div>-->
<!--          </div>-->
<!--          <div class="text-center m-t-25 row">-->
<!--            <div class="col">-->
<!--              <img class="btn-google" src="../../assets/images/icons/btn-google.svg" width="100%" (click) = 'loginWithGoogle()'>-->
<!--            </div>-->
<!--          </div>-->
          <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
        </nz-card>

        <div class="p-h-90 signup-link" style="position: absolute; bottom:20px; width: 100%;">Don't have an account? <a class="small font-weight-bold" [routerLink]="['/signup']">Signup</a></div>

      </div>

      <div class="col-md-8 p-h-40 p-t-20 bg-light login-wall">
        <h2 class="text-black m-b-30">Advance Feature</h2>
        <ul class="list-unstyled login-features-list">
          <li class="media">
            <img src="../../assets/images/icons/feature_1.svg" class="mr-3" alt="Feature 1">
            <div class="media-body">
              <h5 class="mt-0 mb-0">Gate Pass</h5>
            ...
            </div>
          </li>

        </ul>

      </div>
    </div>


<!--    <div class="footer-legal d-none d-md-flex p-h-40 justify-content-between">-->
<!--      <span class="">© 2019 Assign.work</span>-->
<!--      <ul class="list-inline">-->
<!--        <li class="list-inline-item">-->
<!--          <a class="text-dark text-link" href="">Legal</a>-->
<!--        </li>-->
<!--        <li class="list-inline-item">-->
<!--          <a class="text-dark text-link" href="">Privacy</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>
