$brand-default-btn: #dedfe2;
$border: #dddddd;
$orange-dark: #FF5757;
$orange-light:#FF941A;
$theme-blue:#2680EB;
$theme-blue-hover:#358DEB;
$side-nav-bg :#0B1B31;
$board-card-header: #ebebeb;
$board-card-body: #ebebeb;
$color-black:#000000;
$color-red:#F82222;
$color-gray-light: #6E829C;

/* common */
.common-layout .page-container .main-content {
  //padding: calc(70px + 10px) 25px 10px 25px;
}

.ant-input-affix-wrapper .ant-input-prefix {
  left: 17px;
  opacity: 0.6;
}
.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 42px;
}
.ant-radio-button-wrapper-checked {
  color: #ffffff!important;
  box-shadow: none!important;
  background: #6E829C 0% 0% no-repeat padding-box;
  border: 1px solid $color-gray-light;
}
.ant-radio-button-wrapper-checked:first-child {
  border-color: $color-gray-light;
}
.ant-radio-button-wrapper:first-child {
  border-left: 1px solid $color-gray-light;
}
.ant-radio-button-wrapper {
  border-color: $color-gray-light;
  color: $color-gray-light;
}
.ant-radio-button-wrapper:hover {
  border-color: $color-gray-light;
  color: $color-gray-light;
}



.ant-card-small>.ant-card-head {
  padding: 6px 24px;
  font-size: 18px;
}
.ant-card-small>.ant-card-body {
  padding: 15px;
}

.ant-form-item-label label {
  color: $color-gray-light;
  font-weight: 500;
  text-transform: uppercase;
  //letter-spacing: 1.12px;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 2px;
}

.ant-tag{
  margin: 0px;
  border:0px;
  height: 1.5rem;
}

/* header */
.header {
  border-bottom: 0px solid #edf2f9;
  box-shadow: 0px 2px 6px #0000000D;
}
/* .side-nav */
.side-nav {
  background-color: $side-nav-bg;
  border-right: 0px;
}

.is-folded .side-nav {
  width: 70px;
}
.ant-menu{
  background: $side-nav-bg;
  .ant-menu-item>a{
    color:$color-gray-light;
  }
  .ant-menu-item>a:hover{
    color:#fff;
  }
}

@media only screen and (min-width: 992px) {
  .is-folded .header .logo {
    width: 70px;
  }
  .common-layout.is-folded .page-container {
    padding-left: 70px;
  }
}
.ant-menu-inline-collapsed { // collapsed width
  width: 70px;
  padding-top: 30px;
}
.ant-menu-root.ant-menu-inline{ // full width
  padding-top: 30px;
}
.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
  padding: 0px!important;
  text-align: center;
  background: $side-nav-bg;
  color: #ffffff;
}
.ant-menu-inline .ant-menu-submenu-title {
  width: calc(100% + 0px)!important;
}
.ant-menu-inline-collapsed>.ant-menu-item{
  padding: 0px!important;
  text-align: center;
}

.ant-menu-inline .ant-menu-item:after{
  border-right: 4px solid #ffffff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a {
  color: #ffffff;
}
.ant-btn {
  border-radius: 25px;
  min-width: 80px;
  padding: 0.45rem 1rem!important;
  border: 0px;
  font-weight: 300;
  &:hover {
    box-shadow: 0px 3px 4px -2px #9b9b9b;
  }
}
.ant-btn.ant-btn-primary {
  background: $theme-blue; //linear-gradient(to top left, $orange-dark  0%, $orange-light 100%)!important;
  &:hover{
    background: $theme-blue-hover; //linear-gradient(to top left, $orange-dark 30%, $orange-light 100%)!important;
  }
}

.ant-btn.ant-btn-default{
  background: $brand-default-btn!important;
}

.ant-btn.ant-btn-link{
  border: 1px solid $theme-blue;
  background: $white!important;
  color: $theme-blue;
  padding: 0.45rem 1rem;
}

.ant-btn-primary.disabled, .ant-btn-primary[disabled] {
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
}

.btn-medium {

}

.ant-form-item{
  .ant-btn.ant-btn-default{
    background: $white!important;
    border:1px solid $border;
    padding: 0.35rem 1.6rem 0.35rem 0.5rem !important;
    &:hover {
      box-shadow: initial;
    }
  }
}
.ant-form-item-label>label::after {
  content: '';
}
.ddls-btn i{
  font-size: 10px;
  top: 8px;
  right: 7px;
}
.p-0{
  padding: 0px;
}

/* add task page */
.btn-ellipsis {
  padding-left: 15px!important;
  padding-right: 5px!important;
  font-size: 16px!important;
  border: 0px !important;
  color:$gray-dark!important;
  &:hover {
    box-shadow: none;
  }
}

.create-task-form label {
  margin-bottom: 0px !important;
  font-size: 13px;
  text-transform: uppercase;
  color: #999fa1;
  font-weight: 500;
}

.upload-list-inline .ant-upload-list-item {
  background: #ffffff!important;
  img{
    border-radius: 3px!important;
  }
}


.timelog-history-box {
  margin-top: 5px;
  margin-bottom: 5px;
  .ant-collapse-header{
    padding: 8px 14px 8px 34px!important;
    background: #f8f8f8;
    border-radius: 5px;
  }
  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow{
    left: 12px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0rem .65rem;
    max-height: 335px;
    min-height: 150px;
    overflow: auto;
  }

  .timelog-history {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.ant-collapse{
  border: 1px solid #dddddd;
}

/* board page */
.collaborators-avatar{
  padding: 5px 0px 10px 0px;
  border-bottom: 1px solid #DED9D9;
  margin-bottom: 20px;
  background: none;
  box-shadow: none;
  .ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only {
    line-height: 1.2;
  }
  .ant-avatar{
    cursor: pointer;
    margin-right: 0px;
    border: 2px solid #f8f8f8;
    font-size: 15px;
    height: 35px;
    width: 35px;
    line-height: 31px;
    background: #dbdeea!important;
    color: #747B92;
    font-size: 12px!important;
    font-weight: 500;
    &:hover{
      border: 2px solid $orange-dark!important;
    }
  }
  .ant-avatar-sm > * {
    line-height: 1.8rem;
  }
  .active-avatar{
    border: 2px solid $orange-dark!important;
  }
}

.sprintboard-container {
  padding: 0px;
  background: none;
  .column {
    margin-right: 20px;
  }
  .card-block {
    width: 281px;
    border: 1px solid #DEE3EB;
    border-radius: 5px;
    .pull-right{
      float: right;
    }
    .card-header {
      padding: 8px 10px 8px 10px;
      font-size: 15px;
      font-weight: 500;
      border:none;
      background: $board-card-header;
      color: $color-black;
      i {
        font-size: 11px;
        padding: 5px 0px;
        float: right;
      }
      i:hover {
        cursor: pointer;
        color: $theme-blue;
      }
    }
    .card-body {
      max-height: calc(100vh - 240px);
      overflow: auto;
      background: $board-card-body;
      padding: 3px 7px 7px 7px;
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      .task-card {
        height: 105px;
        padding: 8px 10px 0px 10px;
        box-shadow: 1px 1px 3px -2px #a19e9e;
        margin-bottom: 10px;
        border-radius: 4px;
        background: #ffffff;
        h6 {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 0px;
        }
        .duration {
          font-size: 10px;
          font-weight: 400;
          color: #182230;
          opacity: 0.5;
        }
      }
      .task-body {
        height: 43px;
        font-size: 14px;
        color: $theme-blue;
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical!important;
        .task-title{
          color: $color-black;
        }
      }
      .task-footer {
        margin-top: 10px;
        height: 21px;
        font-size: 12px;
        color: $color-gray-light;
      }
    }
    .card-footer {
      cursor: pointer;
      padding: 7px 10px;
      background: var(--gray-very-light);
      color: $color-black;
      border: none;
      &:hover{
        background: $theme-blue;
        color: #ffffff;
      }
    }
    .ant-avatar{
      height: 18px!important;
      width: 18px!important;
      line-height: 15px;
      font-size: 12px;
    }
    .profile-name{
      line-height: 18px;
    }
  }
}


/* backlog page */
.backlog-page{
  .ant-card-body{
   padding-top: 0px;
  }
  .ant-empty{
    margin: 0px 0px 10px 0px!important;
  }
}

.draft-sprint-box {
  .ant-empty{
    margin: 0px;
  }
  .ant-empty-image {
    display: none !important;
  }

  .ant-empty-description {
    margin-top: 0px !important;
    color:$color-black;
  }

  .ant-empty-footer {
    margin-top: 10px;
  }
}

/* task-list */
.ant-table-thead > tr > th {
  color: $color-gray-light;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  //letter-spacing: 0.96px;
  padding: 13px 5px!important;
}
.has-missing-data{
  background: #FFF3F3;
  td{
    border-top:1px solid $color-red!important;
    border-bottom:1px solid $color-red!important;
  }
}

.draft-table {
  .ant-table-body{
    height: 265px;
    max-height: 265px;
    overflow: auto;
  }
}

/* font and text */
.text-black{
  color: $color-black!important;
}
.text-red{
  color: $color-red!important;
}
.text-gray-light{
  color: $color-gray-light!important;
}



/* project modal */
.project-modal {
  //.ant-steps-item-content, .ant-steps-item-icon {
  //  display: block;
  //}
  //.ant-steps-item-title::after {
  //  position: absolute;
  //  top: -16px;
  //}
  //.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title:after {
  //  background-color: #6e829c!important;
  //}
  .ant-steps-item-process .ant-steps-item-icon {
    background: #6E829C !important;
    border-color: #6E829C;
    font-size: 14px;
  }
}


/* side nav */
.side-nav {
  width: 175px;
}
@media only screen and (max-width: 1440px) and (min-width: 992px){
  .header .logo {
    width: 175px;
    padding: 18px 14px;
  }
  .is-folded .header .logo {
    padding: 1px 10px;
  }
  .side-nav {
    width: 175px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 992px) {
  .common-layout .page-container {
    padding-left: 175px;
  }
}


/* logo modified */
.logo img{
  width: 100%;
  padding: 0px;
}


/* login/register */
.btn-google {
  height: 43px;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.has-error .ant-input-affix-wrapper .ant-input:focus, .has-error .ant-input:focus {
  box-shadow: 0 0 0 1px rgb(245, 34, 45);
}


/*quill*/
.ql-editor{
  min-height: 120px;
}

.ql-mention-list-container {
  width: 200px;
  border: 0px solid #f8f8f8;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(53, 53, 53, 0.35);
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  padding: 0 10px;
  vertical-align: middle;
}

.ql-mention-list-item.selected {
  background-color: $theme-blue;
  color: #ffffff;
  text-decoration: none;
}
.ql-mention-list-item.selected:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.ql-mention-list-item.selected:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #D3E1EB;
  padding: 3px 0;
}

.mention>span {
  margin: 0 3px;
}
